/* Globe Icons pops up */
/* Click Globe to Enter Game Space */
body{
    border: solid rgb(77, 77, 223);
    border-radius: 5px;
    border-width: 8px;
    height: 100%;
    width: 100%;
    position: relative;
}
.startGame{
    border: solid white;
    display: flex;
    align-items: center;
    background-color: black;
    height: 500px;
}
startGame:hover{
    border: solid white;
    opacity: 0.5;
    background-color: aliceblue;
}

.title{
    background-color: rgb(77, 77, 223);
    height: 45px;
    font-size: 30px;
    padding-top: 10px;
    font-family: fantasy;
    text-align: center;
}
.earth{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
/* Welcome Page */
/* Message ---------- Game Instructions */
/* Game Board */
.game{
    margin-top: 10px;
    background-image: url(https://cdn.pixabay.com/photo/2013/07/12/16/57/world-map-151576_1280.png);
    height: 650px;
    
}
.gameDirections{
    margin-left: 50%;
    width: 50%;
    display: flex;
    justify-content: right;
}
.directionsButton{
    height: 40px;
    width: 200px;
    background-color: aqua;
    font-family: fantasy;
    border-radius: 40px;
}
.directionsButton:hover{
    background-color: aquamarine;
    opacity: 0.5;
}
.directions{
    display: none;
    background-color: white;
    border: solid black;
    border-width: 5px;
    border-radius: 40px;
    padding: 10px;
    font-family: fantasy;
}
.board{
    margin-top: 10px;
    height: 500px;
    width: 100%;
    display: inline-flex;
}
#score{
    border: solid red;
    width: 100%;
    display: flex;
    justify-content: right;
}
.submit{
    height: 40px;
    width: 200px;
    background-color: aqua;
    font-family: fantasy;
    border-radius: 40px;
}
.continents{
    border: solid red;
    margin-left: 20px;
    height: 480px;
    width: 240px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
#quiz{
    justify-content: space-evenly;
}

.antarctica{
    background-color: rgb(200, 224, 246);
    border: aliceblue;
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;
    width: 200px;

}
.antarctica:hover{
    background-color: lightskyblue;
    opacity: 0.5;
}
.antarcticaQ{
    display: none;
    background-image: url(https://www.betterphotography.com/images/Blog2022/BoothIsland.gif);
    height: 300px;
    width: 500px;
    margin-left: 250px;
    margin-top: 10%;
    padding-bottom: 60%;
    border: solid white;
    border-radius: 10px;
    border-width: 5px;
}
.southAmerica{
    background-color: purple;
    border: purple;
    border-radius: 40px;
    height: 50px;
    font-size: 15px;
    font-family: fantasy;
    width: 200px;

}
.southAmerica:hover{
    opacity: 0.5;
}
.southAQuiz{
    display: none;
    background-image: url(https://media0.giphy.com/media/xyvHOUQzfMfba/giphy.gif);
    height: 200px;
    width: 500px;
    margin-left: 250px;
    margin-top: 100px;
    border: solid white;
    border-radius: 10px;
    border-width: 5px;
}
.northAmerica{
    background-color: yellow;
    border: yellow;
    border-radius: 40px;
    height: 50px;
    font-size: 15px;
    font-family: fantasy;
    width: 200px;
}
.northAmerica:hover{
    opacity: 0.5;
}
.northAQuiz{
    display: none;
    background-image: url(https://64.media.tumblr.com/a964458bee35dd2c7411a70b0125c437/tumblr_npeokel6ip1qzxxsgo1_500.gif);
    height: 250px;
    width: 450px;
    margin-left: 250px;
    border: solid white;
    border-radius: 10px;
    border-width: 5px;
}
.africa{
    background-color: orangered;
    border: orangered;
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;
    width: 200px;
}
.africa:hover{
    opacity: 0.5;
}
.africaQuiz{
    display: none;
    background-image: url(https://media4.giphy.com/media/2jMjVBTC1cwaiIUcN7/giphy.gif);
    height: 300px;
    width: 450px;
    margin-left: 250px;
    border: solid white;
    border-radius: 10px;
    border-width: 5px;
}
.australia{
    background-color: pink;
    border: pink;
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;
    width: 200px;
}
.australia:hover{
    opacity: 0.5;
}
.australiaQ{
    display: none;
    background-image: url(https://i.gifer.com/Irq.gif);
    height: 500px;
    width: 440px;
    margin-left: 250px;
    border: solid white;
    border-radius: 10px;
    border-width: 5px;

}
.asia{
    background-color: darkred;
    border: darkred;
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;
    width: 200px;
}
.asia:hover{
    opacity: 0.5;
}
.asiaQuiz{
    display: none;
    background-image: url(https://media3.giphy.com/media/11MKLWSDvMVSp2/giphy.gif);
    height: 250px;
    width: 500px;
    margin-left: 250px;
    border: solid white;
    border-radius: 10px;
    border-width: 5px;

}
.europe{
    background-color: rgb(35, 219, 35);
    border: rgb(35, 219, 35);
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;
    width: 200px;
}
.europe:hover{
    opacity: 0.5;
}
.europeQuiz{
    display: none;
    background-image: url(https://i.makeagif.com/media/4-01-2016/3wGcZ0.gif);
    height: 300px;
    width: 500px;
    margin-left: 220px;
    border: solid white;
    border-radius: 10px;
    border-width: 5px;
}


/* Button Start Game or Next Round*/
/* Button End Game */

/* First Round */
