/* Globe Icons pops up */
/* Click Globe to Enter Game Space */
startGame{
    border: solid white;
    display: flex;
    align-items: center;
    background-color: black;
    height: 500px;
}
startGame:hover{
    opacity: 0.5;
    background-color: aliceblue;
}

.title{
    background-color: rgb(61, 61, 223);
    height: 45px;
    font-size: 30px;
    padding-top: 10px;
    font-family: fantasy;
    text-align: center;

}
.earth{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
/* Welcome Page */
/* Message ---------- Game Instructions */
/* Game Board */
.game{
    margin-top: 10px;
    background-image: url(https://cdn.pixabay.com/photo/2013/07/12/16/57/world-map-151576_1280.png);


}
.gameDirections{
    width: 100%;
    display: flex;
    justify-content: right;
}
.directionsButton{
    height: 40px;
    width: 200px;
    background-color: aqua;
    font-family: fantasy;
    border-radius: 40px;
}
.directionsButton:hover{
    background-color: aquamarine;
    opacity: 0.5;
}
.directions{
    display: none;
    background-color: white;
    border: solid black;
    border-width: 5px;
    border-radius: 40px;
    padding: 10px;
    font-family: fantasy;
}
.board{
    margin-top: 10px;
    height: 700px;
    width: 100%;
    display: flex;
}
.continents{
    margin-top: 20px;
    margin-left: 20px;
    height: 450px;
    width: 140px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.antarctica{
    background-color: rgb(200, 224, 246);
    border: aliceblue;
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;

}
.antarctica:hover{
    background-color: lightskyblue;
    opacity: 0.5;
}
.southAmerica{
    background-color: purple;
    border: purple;
    border-radius: 40px;
    height: 50px;
    font-size: 15px;
    font-family: fantasy;

}
.southAmerica:hover{
    opacity: 0.5;
}
.northAmerica{
    background-color: yellow;
    border: yellow;
    border-radius: 40px;
    height: 50px;
    font-size: 15px;
    font-family: fantasy;
}
.northAmerica:hover{
    opacity: 0.5;
}
.africa{
    background-color: orangered;
    border: orangered;
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;
}
.africa:hover{
    opacity: 0.5;
}
.australia{
    background-color: pink;
    border: pink;
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;
}
.australia:hover{
    opacity: 0.5;
}
.asia{
    background-color: darkred;
    border: darkred;
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;
}
.asia:hover{
    opacity: 0.5;
}
.europe{
    background-color: rgb(35, 219, 35);
    border: rgb(35, 219, 35);
    border-radius: 40px;
    height: 50px;
    font-size: 20px;
    font-family: fantasy;
}
.europe:hover{
    opacity: 0.5;
}


/* Button Start Game or Next Round*/
/* Button End Game */

/* First Round */
one{
    background-image: url(https://www.betterphotography.com/images/Blog2022/BoothIsland.gif);

}
two{
    background-image: url(https://thumbs.gfycat.com/PoorScarceHuia-max-1mb.gif);

}
three{
    background-image: url(https://64.media.tumblr.com/a964458bee35dd2c7411a70b0125c437/tumblr_npeokel6ip1qzxxsgo1_500.gif);

}
four{
    background-image: url(https://img.itch.zone/aW1hZ2UvMTUxODgwMi84ODU3OTM2LmdpZg==/original/JxtoBT.gif);

}
five{
    background-image: url(https://thehustle.co/wp-content/uploads/2020/02/header-2.gif);

}
six{
    background-image: url(https://oztreasure.weebly.com/uploads/1/1/0/3/11031372/published/madmax.gif?1502437962);

}
seven{
    background-image: url(https://giffiles.alphacoders.com/143/14397.gif);

}